<hlm-card class="w-full py-10 flex flex-col md:grid md:grid-cols-2">
  <div class="flex flex-col gap-5 justify-center">
    <hlm-card-header class="px-12 flex flex-col flex-none! justify-center gap-0 py-0">
      <h2 class="font-bold text-white text-3xl z-10">Dołącz do CINEPREMIUM Club</h2>
    </hlm-card-header>
    <div hlmCardContent class="px-12">
      <p hlmCardDescription class="text-base">
        Zyskaj dostęp do przedsprzedaży, zniżki na bar oraz darmowe bilety w programie
        lojalnościowym. Twoje kino, twoje przywileje.
      </p>
    </div>
    <hlm-card-footer class="px-12">
      <button hlmBtn variant="secondary" class="w-full md:w-fit">Zapisz się teraz</button>
    </hlm-card-footer>
  </div>
  <div class="flex flex-row justify-center items-center p-5 md:p-10">
    <img src="images/loyalty-club-card.png" alt="" />
  </div>
</hlm-card>
